body {
    margin: 0;
    height: 100vh;
    background: #8E29E5;
    background: linear-gradient(200deg, #8E29E5 0%, #76186B 100%);
    background-color: #76186B;
    text-align: center;
    overflow: hidden;
    overflow-y: hidden;  
    overflow-x: hidden;  
}

div {
    margin-bottom: 10px;
}

p, a, h1, h2, h3, h4, h5, h6 {
    color: white;
}

p, a {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
}

h1 {
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-box {

}

.nav-text {
    text-align: right;
    margin-right: 30px;
}

.logo-text {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 30px;
    margin: 0;
}

.logo-text-box{
    margin: 0;
    padding: 0px;
}

img {
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo-box {
    padding: 0px;
    margin: 0px;
}

.splash-text-box {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 130px;
}

footer {
    position: relative;
    height: 300px;
    width: 100%;
    text-align: center;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Mobile */
@media screen and (max-width: 800px) {
    body {
        background: #150b16;
        background: linear-gradient(90deg, #8E29E5 0%, #76186B 100%);
        background-color: #150b16;
        overflow: visible;
        overflow-y: visible;  
    }

    h1 {
        margin-top: 150px;
        font-size: 40px;
    }
    
    p, a {
        margin-top: 25px;
    }

    .logo-text {
        font-size: 20px;
    }

    .logo {
        height: 75px;
    }
  }